.hero {
  background-color: #FFFFFF;
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.hero__container {
  max-width: 1176px;
  width: 100%;
  height: 448px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../image/main.png') no-repeat center center/cover;
}

.hero__content {
  width: 100%;
  max-width: 776px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
  align-items: center;
  padding: 0;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: Geologica;
  font-size: 48px;
  font-weight: 100;
  line-height: 48px;
  letter-spacing: -4%;
  text-align: center;
}

.search-bar {
  width: 640px;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: rgb(255, 255, 255);
  padding: 0;
  margin: 0 auto;
}

.search-bar__input-wrapper {
  width: auto;
  height: auto;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.search-bar__input--with-icon {
  width: 448px;
  height: 48px;
  padding: 12px 12px 12px 40px;
  box-sizing: border-box;
  border: 1px solid rgb(232, 232, 232);
  background: rgb(255, 255, 255) url("../image/location.svg") no-repeat 12px center;
  color: rgb(111, 111, 111);
  font-family: Geologica;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  background-size: 18px 18px;
}

.search-bar__button {
  width: 112px;
  height: 48px;
  background-color: #025F74;
  color: rgb(255, 255, 255);
  font-family: Geologica;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  align-items: center;
  }

.search-bar__icon{
  width: 24px;
  height: 24px;
}