* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

button {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}
